.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--color-bgn-btn);
}

.team-list {
  display: flex;
}

.team-item {
  width: calc((100% - 90px) / 4);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--color-hero-title);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:not(:first-child) {
  margin-left: 30px;
}

.conteiner-team {
  padding: 30px 0;
  text-align: center;
}

.team-item-img {
  display: block;
}

.team-item-tetle {
  margin-bottom: 10px;

  color: var(--color-secondery-text);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.team-list-social {
  display: flex;
  justify-content: center;
}

.team-item-social:not(:first-child) {
  margin-left: 10px;
}

.team-link-social {
  width: 44px;
  height: 44px;
  //   outline: 1px solid tomato;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-hero-title);

  transition: background-color 250ms var(--cubic-all);
}

.team-link-social:hover,
.team-link-social:focus {
  background-color: var(--color-text-logonav);
}

.team-link-social svg {
  fill: var(--color-icons-partners);

  transition: fill 250ms var(--cubic-all);
}

.team-link-social:hover svg {
  fill: var(--color-hero-title);
}
